<style>
  .white {
    background-color: var(--color-white);
  }
  .blue {
    background-color: var(--color-blue);
  }
</style>


<div class="announcement-container {% if section.settings.bar_color == 'blue' %}blue {% else %}white{% endif %}">
  <div class="text-content">
    <a href="">{{ section.settings.announcement_text }}</a>
  </div>
</div>


{% schema %}
{
  "name": "FS Announcement Bar",
  "settings": [
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement Text",
      "default": "FREE SHIPPING & RETURNS ON EVERY ORDER!"
    },
    {
      "type": "text",
      "id": "announcement_url",
      "label": "Announcement Url",
      "default": "/"
    },
    {
      "type": "radio",
      "id": "bar_color",
      "label": "Announcement Bar BG Color",
      "options": [
        {
          "value": "blue",
          "label": "Blue BG"
        },
        {
          "value": "white",
          "label": "White BG"
        }
      ],
      "default": "blue"
    }
  ],

  "presets": [
    {
      "name": "FS Announcement Bar",
      "category": "Fakestore"
    }
  ]
}
{% endschema %}
