<div class="perks-container">
    {% if section.settings.title != blank %}
        <div class="title">{{ section.settings.title }}</div>        
    {% endif %}
    <div class="perks">
        {% for block in section.blocks %}
            <div class="perk">
                <img src="{{ block.settings.icon | img_url: 'medium' }}" alt="Perk Icon" class="perk-icon">
                <p>{{ block.settings.text }}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% schema %}
{
    "name": "Fakestore Perks",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Fakestore Perks"
        }
    ],
    "blocks": [
    {
        "type": "perk",
        "name": "Perk",
        "limit": 3,
        "settings": [
        {
            "type": "image_picker",
            "id": "icon",
            "label": "Icon",
            "info": "Select an icon for the perk."
        },
        {
            "type": "text",
            "id": "text",
            "label": "Text",
            "info": "Enter the text for the perk."
        }
        ]
    }
    ],
    "presets": [
    {
        "name": "Fakestore Perks",
        "category": "Fakestore"
    }
    ]
}
{% endschema %}    
